Port 2222
ListenAddress 0.0.0.0
HostKey /var/lib/telchar-ssh/ssh_host_ed25519_key
HostCertificate /var/lib/telchar-ssh/ssh_host_ed25519_key-cert.pub
PidFile /tmp/sshd.pid
TrustedUserCAKeys /var/lib/telchar-ssh/client-ca.pub
AuthenticationMethods publickey
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitRootLogin no
PermitEmptyPasswords no
StrictModes yes
UsePAM no
AllowUsers telchar
ForceCommand /bin/telchar-ssh-forced-command
ExposeAuthInfo yes
DisableForwarding yes
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
PermitTunnel no
PermitTTY no
PermitUserEnvironment no
GatewayPorts no
PermitUserRC no
UseDNS no
LogLevel VERBOSE
